# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.externalToolBuilders/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws


# temp ignore
logs
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~
.tern-project
